@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --kingmun-primary: #2E4A20;
  --kingmun-secondary: #745995;
  --munnorthwest-primary: rgb(0, 68, 103);
  --munnorthwest-secondary: rgb(0, 68, 103);
  --pacmun-primary: #1792a7;
  --pacmun-secondary: #1792a7;
  --edumun-primary: #2B8282;
  --edumun-secondary: #2B8282;
  --seattlemun-primary: #C8193E;
  --seattlemun-secondary: #C8193E;
  --color-kingmun-primary: #2E4A20;
  --color-kingmun-secondary: #745995;
  --color-munnorthwest-primary: rgb(0, 68, 103);
  --color-munnorthwest-secondary: rgb(0, 68, 103);
  --color-pacmun-primary: #1792a7;
  --color-pacmun-secondary: #1792a7;
  --color-edumun-primary: #2B8282;
  --color-edumun-secondary: #2B8282;
  --color-seattlemun-primary: #c02f4e;
  --color-seattlemun-secondary: #c02f4e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-kingmun-primary: var(--kingmun-primary);
  --color-kingmun-secondary: var(--kingmun-secondary);
  --color-munnorthwest-primary: var(--munnorthwest-primary);
  --color-pacmun-primary: var(--pacmun-primary);
  --color-pacmun-secondary: var(--pacmun-secondary);
  --color-edumun-primary: var(--edumun-primary);
  --color-edumun-secondary: var(--edumun-secondary);
  --color-seattlemun-primary: var(--seattlemun-primary);
  --color-seattlemun-secondary: var(--seattlemun-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2E4A20;
    --secondary: #674ea7;
  }
} */

body {
  /* background: var(--background); */
  background: linear-gradient(rgba(44, 44, 101, 0.2), rgba(47, 47, 86, 0.2)), url(../public/background.jpeg) no-repeat center;
  background-size: cover;
  backdrop-filter: blur(6px);
  background-attachment: fixed;
  overflow-x: clip;
  overflow-y: scroll;

  color: var(--foreground);
  min-height: 100vh;
  
  font-family: var(--font), Arial, Helvetica, sans-serif;
}
.hover-border {
  transition: background-color 0.25s;
}

#MUNNWLOGO{
  position: relative;
  width: 45px;
  height: auto;
  background: url(https://lh3.googleusercontent.com/GwzOH8iDRpE2Fi2fYBEUj1GSUpnpt1V5B5MZLSEBro1YyCi9wYq2D3rGUy-Cyx7sfZnJ43rWGccnN1qlq04=s120) no-repeat center;
  background-size: contain;
}