@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2E4A20;
  --secondary: #745995;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2E4A20;
    --secondary: #674ea7;
  }
} */

body {
  /* background: var(--background); */
  background: linear-gradient(rgba(44, 44, 101, 0.2), rgba(47, 47, 86, 0.2)), url(../public/background.jpeg) no-repeat center;
  background-size: cover;
  backdrop-filter: blur(6px);
  background-attachment: fixed;
  overflow-x: clip;
  overflow-y: scroll;

  color: var(--foreground);
  min-height: 100vh;
  
  font-family: var(--font), Arial, Helvetica, sans-serif;
}
.hover-border {
  transition: background-color 0.25s;
}
figure:hover .hover-border {
  background-color: var(--color-secondary);
}

